PyGaze Analysis

In [21]:
# We load the original results from the file data/4/processed-data/fixationsAll.csv

import pandas as pd

# We load the original results from the file data/4/processed-data/fixationsAll.csv
participants_metadata = pd.read_csv('data/emip_dataset/emip_metadata.csv')
# We remove rows where experiment_language != 'Java'
participants_metadata = participants_metadata[participants_metadata.experiment_language == 'Java']


# We load the PyGazeAnalyzer results from the file results/pygaze_fixations_4.csv
pygaze_fixations = pd.read_csv('results/pygaze_fixations_emip_dataset.csv')

# Drop all colums where the task contains 'mupliple_choice'
pygaze_fixations = pygaze_fixations[~pygaze_fixations['Task'].str.contains('mupliple_choice')]



# We combine the two dataframes into one by combining the columns where the values of Participant are the same
results_pygaze = pd.merge(participants_metadata, pygaze_fixations, how='inner', left_on=['id'], right_on=['Participant'])
results_pygaze

,id,age,gender,mother_tongue,english_level,visual_aid,makeup,experiment_language,expertise_experiment_language,time_experiment_language,...,stimulus_vehicle,mother_tongue_original,time_experiment_language_original,time_programming_original,other_languages_original,Participant,Task,Fixation Count,Total Fixation Duration [ms],Average Fixation Duration [ms]
0,1,63,male,Czech,high,glasses,no,Java,high,30.0,...,vehicle_java.jpg,czech,30y,40+,CoffeeScript (high) JavaScript (high) Python (...,1,vehicle_java.jpg,247,33581.623,135.957988
1,1,63,male,Czech,high,glasses,no,Java,high,30.0,...,vehicle_java.jpg,czech,30y,40+,CoffeeScript (high) JavaScript (high) Python (...,1,rectangle_java.jpg,67,6502.875,97.057836
2,2,24,male,Slovak,medium,glasses,no,Java,medium,2.0,...,vehicle_java2.jpg,Slovak,2,5,"c++(low), php(medium), delphi(low)",2,rectangle_java2.jpg,131,12446.719,95.013122
3,2,24,male,Slovak,medium,glasses,no,Java,medium,2.0,...,vehicle_java2.jpg,Slovak,2,5,"c++(low), php(medium), delphi(low)",2,vehicle_java2.jpg,221,18234.353,82.508385
4,3,27,female,Hebrew,high,no,no,Java,none,0.0,...,vehicle_java2.jpg,Hebrew,0,0,c# (low),3,vehicle_java2.jpg,189,31025.879,164.158090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,214,21,male,Slovak,high,no,no,Java,medium,1.0,...,vehicle_java2.jpg,Slovak,1,4,"C (medium) , JavaScript (medium)",214,vehicle_java2.jpg,561,88332.082,157.454692
410,215,22,male,Slovak,medium,no,no,Java,medium,1.0,...,vehicle_java2.jpg,slovak,1,2,C (medium) c# (medium) Java (medium),215,vehicle_java2.jpg,341,55915.682,163.975607
411,215,22,male,Slovak,medium,no,no,Java,medium,1.0,...,vehicle_java2.jpg,slovak,1,2,C (medium) c# (medium) Java (medium),215,rectangle_java2.jpg,219,36273.723,165.633438
412,216,22,female,Thai,high,glasses,no,Java,none,0.0,...,vehicle_java2.jpg,Thai,6 weeks,6 weeks,Low,216,vehicle_java2.jpg,296,29761.160,100.544459
413,216,22,female,Thai,high,glasses,no,Java,none,0.0,...,vehicle_java2.jpg,Thai,6 weeks,6 weeks,Low,216,rectangle_java2.jpg,150,13818.919,92.126127

In [75]:
# We load the original results from the file data/4/processed-data/fixationsAll.csv

import pandas as pd

# We load the original results from the file data/4/processed-data/fixationsAll.csv
participants_metadata = pd.read_csv('data/emip_dataset/emip_metadata.csv')
# We remove rows where experiment_language != 'Java'
participants_metadata = participants_metadata[participants_metadata.experiment_language == 'Java']

# We load the PyGazeAnalyzer results from the file results/pygaze_fixations_4.csv
pygaze_saccades = pd.read_csv('results/pygaze_saccades_emip_dataset.csv')

# Drop all colums where the task contains 'mupliple_choice'
pygaze_saccades = pygaze_saccades[~pygaze_saccades['Task'].str.contains('mupliple_choice')]


# We combine the two dataframes into one by combining the columns where the values of Participant are the same
results_pygaze_saccades = pd.merge(participants_metadata, pygaze_saccades, how='inner', left_on=['id'], right_on=['Participant'])
results_pygaze_saccades

,id,age,gender,mother_tongue,english_level,visual_aid,makeup,experiment_language,expertise_experiment_language,time_experiment_language,...,mother_tongue_original,time_experiment_language_original,time_programming_original,other_languages_original,Participant,Task,Saccade Count,Total Saccade Duration [ms],Average Saccade Duration [ms],Average Saccade Distance [px]
0,1,63,male,Czech,high,glasses,no,Java,high,30.0,...,czech,30y,40+,CoffeeScript (high) JavaScript (high) Python (...,1,vehicle_java.jpg,76,74215.197,976.515750,134.748075
1,1,63,male,Czech,high,glasses,no,Java,high,30.0,...,czech,30y,40+,CoffeeScript (high) JavaScript (high) Python (...,1,rectangle_java.jpg,17,27547.014,1620.412588,124.579446
2,2,24,male,Slovak,medium,glasses,no,Java,medium,2.0,...,Slovak,2,5,"c++(low), php(medium), delphi(low)",2,rectangle_java2.jpg,5,16226.784,3245.356800,144.592684
3,2,24,male,Slovak,medium,glasses,no,Java,medium,2.0,...,Slovak,2,5,"c++(low), php(medium), delphi(low)",2,vehicle_java2.jpg,1,32869.806,32869.806000,384.500895
4,3,27,female,Hebrew,high,no,no,Java,none,0.0,...,Hebrew,0,0,c# (low),3,vehicle_java2.jpg,82,38536.702,469.959780,94.716505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,214,21,male,Slovak,high,no,no,Java,medium,1.0,...,Slovak,1,4,"C (medium) , JavaScript (medium)",214,vehicle_java2.jpg,284,104300.867,367.256574,99.464269
410,215,22,male,Slovak,medium,no,no,Java,medium,1.0,...,slovak,1,2,C (medium) c# (medium) Java (medium),215,vehicle_java2.jpg,119,67067.450,563.592017,146.948980
411,215,22,male,Slovak,medium,no,no,Java,medium,1.0,...,slovak,1,2,C (medium) c# (medium) Java (medium),215,rectangle_java2.jpg,73,44376.894,607.902658,104.747459
412,216,22,female,Thai,high,glasses,no,Java,none,0.0,...,Thai,6 weeks,6 weeks,Low,216,vehicle_java2.jpg,33,68278.123,2069.034030,172.396854
413,216,22,female,Thai,high,glasses,no,Java,none,0.0,...,Thai,6 weeks,6 weeks,Low,216,rectangle_java2.jpg,13,33212.721,2554.824692,107.542449

PyGaze vs Ogama

Import data automatically into Ogama by manipulating the database

In [3]:
import pandas as pd
import os
import sqlite3
import numpy as np
# Need to register numpy types to be able to save them in the database, as SQL only supports int8
sqlite3.register_adapter(np.int64, lambda val: int(val))
sqlite3.register_adapter(np.int32, lambda val: int(val))

# Path to database
database_path = 'G:\\Dokumente\\OgamaExperiments\\ExperimentEMIP\\Database\\ExperimentEMIP.db'

trial_to_num = {
		'mupliple_choice_rectangle.jpg': '1',
		'mupliple_choice_vehicle.jpg': '2',
		'rectangle_java.jpg': '3',
		'rectangle_java2.jpg': '4',
		'rectangle_python.jpg': '5',
		'rectangle_scala.jpg': '6',
		'vehicle_java.jpg': '7',
		'vehicle_java2.jpg': '8',
		'vehicle_python.jpg': '9',
		'vehicle_scala.jpg': '10',
	}

def add_to_sql(c, df_msg, subject, last_task_name):

	#df_msg = df_msg[(df_msg['L Validity'] == 1) & (df_msg['R Validity'] == 1)].copy()
	df_msg = df_msg[(df_msg['R Validity'] == 1)].copy()

	if df_msg.size == 0:
		print("df_msg is empty", last_task_name)
		return

	# Define parameters for fixation detection
	x_left = df_msg.loc[:,('L Raw X [px]')].astype(float)
	#x_right = df_msg.loc[:,('R Raw X [px]')]
	x_right = df_msg.loc[:,('R POR X [px]')]
	#df_msg.loc[:,('X')] = (x_left + x_right) / 2
	df_msg.loc[:,('X')] = x_right

	y_left = df_msg['L Raw Y [px]']
	#y_right = df_msg['R Raw Y [px]']
	y_right = df_msg.loc[:,('R POR Y [px]')]
	#df_msg.loc[:,('Y')] = (y_left + y_right) / 2
	df_msg.loc[:,('Y')] = y_right
	

	# Add a table for the subject called Subject + 'RawData'
	c.execute("CREATE TABLE IF NOT EXISTS ["+ subject +"Rawdata] ([ID] integer PRIMARY KEY AUTOINCREMENT NOT NULL,[SubjectName] varchar(50) NOT NULL COLLATE NOCASE, [TrialSequence] integer NOT NULL, [Time] integer NOT NULL, [PupilDiaX] float, [PupilDiaY] float, [GazePosX] float, [GazePosY] float, [MousePosX] float, [MousePosY] float, [EventID] integer)")

	# Add data in the following scheme:
	# SubjectName = subject
	# TrialSequence = ' ImageName'
	# Time = ' StartTime'
	# GazePosX = ' X'
	# GazePosY = ' Y'

	# For each row in the dataframe
	for index, row in df_msg.iterrows():
		# Insert the data into the table
		c.execute("INSERT INTO ["+ subject +"Rawdata] (SubjectName, TrialSequence, Time, GazePosX, GazePosY) VALUES (?, ?, ?, ?, ?)", (subject, trial_to_num[last_task_name], row['Time'], row['X'], row['Y']))

	trialstarttime = df_msg['Time'].min()
	# Endtime - Starttime + 4 ms for the duration of the last measuremnt
	trialduration = df_msg['Time'].max() - df_msg['Time'].min() + 4
	if np.isnan(trialduration):
		print("trialduration is nan", trialstarttime, df_msg['Time'].max(), df_msg['Time'].min())
		print(df_msg)

	trialduration = int(trialduration)
	c.execute("INSERT INTO Trials (SubjectName, TrialID, TrialName, TrialSequence, Category,  TrialStartTime, Duration) VALUES (?, ?, ?, ?, ?, ?, ?)", (subject, trial_to_num[last_task_name], last_task_name, trial_to_num[last_task_name], "",trialstarttime, trialduration))

def import_data_into_ogama(path, subject):

	print("prepare_tobii_data", path)

	# Load the Tobii eye tracker data into a Pandas DataFrame and skip lines that start with ## as they are comments

	df = None
	possible_skipped_rows = [37, 32, 41, 45]
	counter = 0
	while df is None:
		try:
			df = pd.read_csv(path, delimiter='\t', low_memory=False, on_bad_lines='skip', skiprows=possible_skipped_rows[counter])
			df = df[['Time', 'Type', 'L Raw X [px]', 'L Raw Y [px]', 'R Raw X [px]', 'R Raw Y [px]', 'L Validity', 'R Validity', 'R POR X [px]', 'R POR Y [px]']]
		except KeyError as e:
			counter = counter + 1
			df = None
			if counter >= len(possible_skipped_rows):
				print("no possible skipped rows worked", e)
				break
		else:
			#print("possible skipped rows worked", possible_skipped_rows[counter])
			break

	df['Type'] = df['Type'].astype(str)
	df = df.fillna(0.0)

	# Normalize time
	df['Time'] = df['Time'] - df['Time'].min()
	# Time conversion from microseconds to milliseconds
	df['Time'] = df['Time'] / 1000
	# Time as integer
	df['Time'] = df['Time'].astype('int32')

	# Get the row numbers where Type is 'MSG'
	msg_rows = df[df['Type'] == 'MSG'].index

	# For each msg_row, split the df into two dataframes, one before the msg_row and one after
	# Run the analysis for each of those split dataframes as they represent different tasks
	df_after_msg = df
	last_task_name = None
	last_task_row_number = 0
	removed_task_names = {
		'instruction_calibration.jpg': True,
		'instruction_comprehension.jpg': True,
	}


	# Connect to database
	conn = sqlite3.connect(database_path)
	c = conn.cursor()

	for msg_row in msg_rows:
		current_task_name = df['L Raw X [px]'][msg_row].split('Message: ')[1]
		if '.jpg' in current_task_name:			
			if last_task_name is not None and last_task_name not in removed_task_names:
				
				df_msg = df[last_task_row_number:msg_row]
				if df_msg.size > 0:
					add_to_sql(c, df_msg, subject, last_task_name)
				else:
					print("df_msg is empty", last_task_name, last_task_row_number, msg_row)
				

			last_task_name = current_task_name
			last_task_row_number = msg_row

	df_msg = df[last_task_row_number:]
	add_to_sql(c, df_msg, subject, last_task_name)
	

	# Add subject to the Subjects table
	c.execute("INSERT INTO Subjects (SubjectName) VALUES (?)", (subject,))

	# Save the database
	conn.commit()

def drop_all_subject_tables():
	# Connect to database
	import sqlite3
	conn = sqlite3.connect(database_path)
	c = conn.cursor()

	for i in range(1, 217):
		# Drop the table named S + str(i) + "RawData"
		c.execute("DROP TABLE IF EXISTS S" + str(i) + "Rawdata")

	# Delete entries from Trials
	c.execute("DELETE FROM Trials")

	# Delete entries from Subjects
	c.execute("DELETE FROM Subjects")

	# Save the database
	conn.commit()

drop_all_subject_tables()

#for i in range(22, 23):
for i in range(1, 217):
	# If the file i+'_rawdata.tsv' exists
	filepath = 'data/emip_dataset/rawdata/'+ str(i) + '_rawdata.tsv'
	if os.path.isfile(filepath):
		# Import the data into the database
		print("import_data_into_ogama", filepath, 'S' + str(i))
		import_data_into_ogama(filepath, 'S' + str(i))

import_data_into_ogama data/emip_dataset/rawdata/1_rawdata.tsv S1
prepare_tobii_data data/emip_dataset/rawdata/1_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/2_rawdata.tsv S2
prepare_tobii_data data/emip_dataset/rawdata/2_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/3_rawdata.tsv S3
prepare_tobii_data data/emip_dataset/rawdata/3_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/4_rawdata.tsv S4
prepare_tobii_data data/emip_dataset/rawdata/4_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/5_rawdata.tsv S5
prepare_tobii_data data/emip_dataset/rawdata/5_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/6_rawdata.tsv S6
prepare_tobii_data data/emip_dataset/rawdata/6_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/7_rawdata.tsv S7
prepare_tobii_data data/emip_dataset/rawdata/7_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/8_rawdata.tsv S8
prepare_tobii_data data/emip_dataset/rawdata/8_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/9_rawdata.tsv S9
prepare_tobii_data data/emip_dataset/rawdata/9_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/10_rawdata.tsv S10
prepare_tobii_data data/emip_dataset/rawdata/10_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/11_rawdata.tsv S11
prepare_tobii_data data/emip_dataset/rawdata/11_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/12_rawdata.tsv S12
prepare_tobii_data data/emip_dataset/rawdata/12_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/13_rawdata.tsv S13
prepare_tobii_data data/emip_dataset/rawdata/13_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/14_rawdata.tsv S14
prepare_tobii_data data/emip_dataset/rawdata/14_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/15_rawdata.tsv S15
prepare_tobii_data data/emip_dataset/rawdata/15_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/16_rawdata.tsv S16
prepare_tobii_data data/emip_dataset/rawdata/16_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/17_rawdata.tsv S17
prepare_tobii_data data/emip_dataset/rawdata/17_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/18_rawdata.tsv S18
prepare_tobii_data data/emip_dataset/rawdata/18_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/19_rawdata.tsv S19
prepare_tobii_data data/emip_dataset/rawdata/19_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/20_rawdata.tsv S20
prepare_tobii_data data/emip_dataset/rawdata/20_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/21_rawdata.tsv S21
prepare_tobii_data data/emip_dataset/rawdata/21_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/22_rawdata.tsv S22
prepare_tobii_data data/emip_dataset/rawdata/22_rawdata.tsv
df_msg is empty mupliple_choice_rectangle.jpg
df_msg is empty mupliple_choice_vehicle.jpg
import_data_into_ogama data/emip_dataset/rawdata/23_rawdata.tsv S23
prepare_tobii_data data/emip_dataset/rawdata/23_rawdata.tsv
df_msg is empty mupliple_choice_rectangle.jpg
import_data_into_ogama data/emip_dataset/rawdata/24_rawdata.tsv S24
prepare_tobii_data data/emip_dataset/rawdata/24_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/25_rawdata.tsv S25
prepare_tobii_data data/emip_dataset/rawdata/25_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/26_rawdata.tsv S26
prepare_tobii_data data/emip_dataset/rawdata/26_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/27_rawdata.tsv S27
prepare_tobii_data data/emip_dataset/rawdata/27_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/28_rawdata.tsv S28
prepare_tobii_data data/emip_dataset/rawdata/28_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/29_rawdata.tsv S29
prepare_tobii_data data/emip_dataset/rawdata/29_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/30_rawdata.tsv S30
prepare_tobii_data data/emip_dataset/rawdata/30_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/31_rawdata.tsv S31
prepare_tobii_data data/emip_dataset/rawdata/31_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/32_rawdata.tsv S32
prepare_tobii_data data/emip_dataset/rawdata/32_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/33_rawdata.tsv S33
prepare_tobii_data data/emip_dataset/rawdata/33_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/34_rawdata.tsv S34
prepare_tobii_data data/emip_dataset/rawdata/34_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/35_rawdata.tsv S35
prepare_tobii_data data/emip_dataset/rawdata/35_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/36_rawdata.tsv S36
prepare_tobii_data data/emip_dataset/rawdata/36_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/37_rawdata.tsv S37
prepare_tobii_data data/emip_dataset/rawdata/37_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/38_rawdata.tsv S38
prepare_tobii_data data/emip_dataset/rawdata/38_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/39_rawdata.tsv S39
prepare_tobii_data data/emip_dataset/rawdata/39_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/40_rawdata.tsv S40
prepare_tobii_data data/emip_dataset/rawdata/40_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/41_rawdata.tsv S41
prepare_tobii_data data/emip_dataset/rawdata/41_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/42_rawdata.tsv S42
prepare_tobii_data data/emip_dataset/rawdata/42_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/43_rawdata.tsv S43
prepare_tobii_data data/emip_dataset/rawdata/43_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/44_rawdata.tsv S44
prepare_tobii_data data/emip_dataset/rawdata/44_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/45_rawdata.tsv S45
prepare_tobii_data data/emip_dataset/rawdata/45_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/46_rawdata.tsv S46
prepare_tobii_data data/emip_dataset/rawdata/46_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/47_rawdata.tsv S47
prepare_tobii_data data/emip_dataset/rawdata/47_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/48_rawdata.tsv S48
prepare_tobii_data data/emip_dataset/rawdata/48_rawdata.tsv
df_msg is empty mupliple_choice_rectangle.jpg
import_data_into_ogama data/emip_dataset/rawdata/49_rawdata.tsv S49
prepare_tobii_data data/emip_dataset/rawdata/49_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/50_rawdata.tsv S50
prepare_tobii_data data/emip_dataset/rawdata/50_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/51_rawdata.tsv S51
prepare_tobii_data data/emip_dataset/rawdata/51_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/52_rawdata.tsv S52
prepare_tobii_data data/emip_dataset/rawdata/52_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/53_rawdata.tsv S53
prepare_tobii_data data/emip_dataset/rawdata/53_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/54_rawdata.tsv S54
prepare_tobii_data data/emip_dataset/rawdata/54_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/55_rawdata.tsv S55
prepare_tobii_data data/emip_dataset/rawdata/55_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/56_rawdata.tsv S56
prepare_tobii_data data/emip_dataset/rawdata/56_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/57_rawdata.tsv S57
prepare_tobii_data data/emip_dataset/rawdata/57_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/58_rawdata.tsv S58
prepare_tobii_data data/emip_dataset/rawdata/58_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/59_rawdata.tsv S59
prepare_tobii_data data/emip_dataset/rawdata/59_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/60_rawdata.tsv S60
prepare_tobii_data data/emip_dataset/rawdata/60_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/61_rawdata.tsv S61
prepare_tobii_data data/emip_dataset/rawdata/61_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/62_rawdata.tsv S62
prepare_tobii_data data/emip_dataset/rawdata/62_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/63_rawdata.tsv S63
prepare_tobii_data data/emip_dataset/rawdata/63_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/64_rawdata.tsv S64
prepare_tobii_data data/emip_dataset/rawdata/64_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/65_rawdata.tsv S65
prepare_tobii_data data/emip_dataset/rawdata/65_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/66_rawdata.tsv S66
prepare_tobii_data data/emip_dataset/rawdata/66_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/67_rawdata.tsv S67
prepare_tobii_data data/emip_dataset/rawdata/67_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/68_rawdata.tsv S68
prepare_tobii_data data/emip_dataset/rawdata/68_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/69_rawdata.tsv S69
prepare_tobii_data data/emip_dataset/rawdata/69_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/70_rawdata.tsv S70
prepare_tobii_data data/emip_dataset/rawdata/70_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/71_rawdata.tsv S71
prepare_tobii_data data/emip_dataset/rawdata/71_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/72_rawdata.tsv S72
prepare_tobii_data data/emip_dataset/rawdata/72_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/73_rawdata.tsv S73
prepare_tobii_data data/emip_dataset/rawdata/73_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/74_rawdata.tsv S74
prepare_tobii_data data/emip_dataset/rawdata/74_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/75_rawdata.tsv S75
prepare_tobii_data data/emip_dataset/rawdata/75_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/76_rawdata.tsv S76
prepare_tobii_data data/emip_dataset/rawdata/76_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/77_rawdata.tsv S77
prepare_tobii_data data/emip_dataset/rawdata/77_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/78_rawdata.tsv S78
prepare_tobii_data data/emip_dataset/rawdata/78_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/79_rawdata.tsv S79
prepare_tobii_data data/emip_dataset/rawdata/79_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/80_rawdata.tsv S80
prepare_tobii_data data/emip_dataset/rawdata/80_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/81_rawdata.tsv S81
prepare_tobii_data data/emip_dataset/rawdata/81_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/82_rawdata.tsv S82
prepare_tobii_data data/emip_dataset/rawdata/82_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/83_rawdata.tsv S83
prepare_tobii_data data/emip_dataset/rawdata/83_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/84_rawdata.tsv S84
prepare_tobii_data data/emip_dataset/rawdata/84_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/85_rawdata.tsv S85
prepare_tobii_data data/emip_dataset/rawdata/85_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/86_rawdata.tsv S86
prepare_tobii_data data/emip_dataset/rawdata/86_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/87_rawdata.tsv S87
prepare_tobii_data data/emip_dataset/rawdata/87_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/88_rawdata.tsv S88
prepare_tobii_data data/emip_dataset/rawdata/88_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/89_rawdata.tsv S89
prepare_tobii_data data/emip_dataset/rawdata/89_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/90_rawdata.tsv S90
prepare_tobii_data data/emip_dataset/rawdata/90_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/91_rawdata.tsv S91
prepare_tobii_data data/emip_dataset/rawdata/91_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/92_rawdata.tsv S92
prepare_tobii_data data/emip_dataset/rawdata/92_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/93_rawdata.tsv S93
prepare_tobii_data data/emip_dataset/rawdata/93_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/94_rawdata.tsv S94
prepare_tobii_data data/emip_dataset/rawdata/94_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/95_rawdata.tsv S95
prepare_tobii_data data/emip_dataset/rawdata/95_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/96_rawdata.tsv S96
prepare_tobii_data data/emip_dataset/rawdata/96_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/97_rawdata.tsv S97
prepare_tobii_data data/emip_dataset/rawdata/97_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/98_rawdata.tsv S98
prepare_tobii_data data/emip_dataset/rawdata/98_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/99_rawdata.tsv S99
prepare_tobii_data data/emip_dataset/rawdata/99_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/100_rawdata.tsv S100
prepare_tobii_data data/emip_dataset/rawdata/100_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/101_rawdata.tsv S101
prepare_tobii_data data/emip_dataset/rawdata/101_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/102_rawdata.tsv S102
prepare_tobii_data data/emip_dataset/rawdata/102_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/103_rawdata.tsv S103
prepare_tobii_data data/emip_dataset/rawdata/103_rawdata.tsv
df_msg is empty mupliple_choice_vehicle.jpg
import_data_into_ogama data/emip_dataset/rawdata/104_rawdata.tsv S104
prepare_tobii_data data/emip_dataset/rawdata/104_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/105_rawdata.tsv S105
prepare_tobii_data data/emip_dataset/rawdata/105_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/106_rawdata.tsv S106
prepare_tobii_data data/emip_dataset/rawdata/106_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/107_rawdata.tsv S107
prepare_tobii_data data/emip_dataset/rawdata/107_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/108_rawdata.tsv S108
prepare_tobii_data data/emip_dataset/rawdata/108_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/109_rawdata.tsv S109
prepare_tobii_data data/emip_dataset/rawdata/109_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/110_rawdata.tsv S110
prepare_tobii_data data/emip_dataset/rawdata/110_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/111_rawdata.tsv S111
prepare_tobii_data data/emip_dataset/rawdata/111_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/112_rawdata.tsv S112
prepare_tobii_data data/emip_dataset/rawdata/112_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/113_rawdata.tsv S113
prepare_tobii_data data/emip_dataset/rawdata/113_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/114_rawdata.tsv S114
prepare_tobii_data data/emip_dataset/rawdata/114_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/115_rawdata.tsv S115
prepare_tobii_data data/emip_dataset/rawdata/115_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/116_rawdata.tsv S116
prepare_tobii_data data/emip_dataset/rawdata/116_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/117_rawdata.tsv S117
prepare_tobii_data data/emip_dataset/rawdata/117_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/118_rawdata.tsv S118
prepare_tobii_data data/emip_dataset/rawdata/118_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/119_rawdata.tsv S119
prepare_tobii_data data/emip_dataset/rawdata/119_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/120_rawdata.tsv S120
prepare_tobii_data data/emip_dataset/rawdata/120_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/121_rawdata.tsv S121
prepare_tobii_data data/emip_dataset/rawdata/121_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/122_rawdata.tsv S122
prepare_tobii_data data/emip_dataset/rawdata/122_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/123_rawdata.tsv S123
prepare_tobii_data data/emip_dataset/rawdata/123_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/124_rawdata.tsv S124
prepare_tobii_data data/emip_dataset/rawdata/124_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/125_rawdata.tsv S125
prepare_tobii_data data/emip_dataset/rawdata/125_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/126_rawdata.tsv S126
prepare_tobii_data data/emip_dataset/rawdata/126_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/127_rawdata.tsv S127
prepare_tobii_data data/emip_dataset/rawdata/127_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/128_rawdata.tsv S128
prepare_tobii_data data/emip_dataset/rawdata/128_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/129_rawdata.tsv S129
prepare_tobii_data data/emip_dataset/rawdata/129_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/130_rawdata.tsv S130
prepare_tobii_data data/emip_dataset/rawdata/130_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/131_rawdata.tsv S131
prepare_tobii_data data/emip_dataset/rawdata/131_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/132_rawdata.tsv S132
prepare_tobii_data data/emip_dataset/rawdata/132_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/133_rawdata.tsv S133
prepare_tobii_data data/emip_dataset/rawdata/133_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/134_rawdata.tsv S134
prepare_tobii_data data/emip_dataset/rawdata/134_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/135_rawdata.tsv S135
prepare_tobii_data data/emip_dataset/rawdata/135_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/136_rawdata.tsv S136
prepare_tobii_data data/emip_dataset/rawdata/136_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/137_rawdata.tsv S137
prepare_tobii_data data/emip_dataset/rawdata/137_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/138_rawdata.tsv S138
prepare_tobii_data data/emip_dataset/rawdata/138_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/139_rawdata.tsv S139
prepare_tobii_data data/emip_dataset/rawdata/139_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/140_rawdata.tsv S140
prepare_tobii_data data/emip_dataset/rawdata/140_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/141_rawdata.tsv S141
prepare_tobii_data data/emip_dataset/rawdata/141_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/142_rawdata.tsv S142
prepare_tobii_data data/emip_dataset/rawdata/142_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/143_rawdata.tsv S143
prepare_tobii_data data/emip_dataset/rawdata/143_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/144_rawdata.tsv S144
prepare_tobii_data data/emip_dataset/rawdata/144_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/145_rawdata.tsv S145
prepare_tobii_data data/emip_dataset/rawdata/145_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/146_rawdata.tsv S146
prepare_tobii_data data/emip_dataset/rawdata/146_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/147_rawdata.tsv S147
prepare_tobii_data data/emip_dataset/rawdata/147_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/148_rawdata.tsv S148
prepare_tobii_data data/emip_dataset/rawdata/148_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/149_rawdata.tsv S149
prepare_tobii_data data/emip_dataset/rawdata/149_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/150_rawdata.tsv S150
prepare_tobii_data data/emip_dataset/rawdata/150_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/151_rawdata.tsv S151
prepare_tobii_data data/emip_dataset/rawdata/151_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/152_rawdata.tsv S152
prepare_tobii_data data/emip_dataset/rawdata/152_rawdata.tsv
import_data_into_ogama data/emip_dataset/rawdata/153_rawdata.tsv S153
prepare_tobii_data data/emip_dataset/rawdata/153_rawdata.tsv

Now enter Ogama, load the experiment that is using this database and run the fixation algorithm.

Import the fixations from the database and calculate our results

In [39]:
import pandas as pd
import os

# Path to database
database_path = 'G:\\Dokumente\\OgamaExperiments\\ExperimentEMIP\\Database\\ExperimentEMIP.db'

total_results = pd.DataFrame()

def calculate_results_for_subject(subject):
	# Connect to database
	import sqlite3
	conn = sqlite3.connect(database_path)
	c = conn.cursor()

	# Export all fixations for the subject
	c.execute("SELECT * FROM GazeFixations WHERE SubjectName = ?", (subject,))
	fixations = c.fetchall()


	if len(fixations) == 0:
		# Create an empty dataframe with the columns ID, SubjectName, TrialID, TrialSequence, CountInTrial, StartTime, Length, PosX, PosY
		fixations_df = pd.DataFrame(columns=['ID', 'SubjectName', 'TrialID', 'TrialSequence', 'CountInTrial', 'StartTime', 'Length', 'PosX', 'PosY'])
	else:
		# Save it into a dataframe
		fixations_df = pd.DataFrame(fixations)

		# Set the column names of the dataframe
		fixations_df.columns = ['ID', 'SubjectName', 'TrialID', 'TrialSequence', 'CountInTrial', 'StartTime', 'Length', 'PosX', 'PosY']

	# For each TrialID, we calculate the total fixation count, fixation duration and average fixation duration
	results = pd.DataFrame()
	results['Total Fixation Count'] = fixations_df.groupby('TrialID')['ID'].count()
	results['Total Fixation Duration'] = fixations_df.groupby('TrialID')['Length'].sum()
	results['Average Fixation Duration'] = fixations_df.groupby('TrialID')['Length'].mean()
	results['Subject'] = subject


	return results

	


for i in range(1, 217):
	# If the folder i exists
	path = 'data/emip_dataset/rawdata/' + str(i) + '_rawdata.tsv'
	if os.path.isfile(path):
		# Append to the total_results dataframe
		total_results = pd.concat([total_results, calculate_results_for_subject('S' + str(i))])


total_results['Subject'] = total_results['Subject'].str[1:].astype(int)
total_results = total_results.reset_index()

num_to_trial = {
    '1': 'mupliple_choice_rectangle.jpg',
    '2': 'mupliple_choice_vehicle.jpg',
    '3': 'rectangle_java.jpg',
    '4': 'rectangle_java2.jpg',
    '5': 'rectangle_python.jpg',
    '6': 'rectangle_scala.jpg',
    '7': 'vehicle_java.jpg',
    '8': 'vehicle_java2.jpg',
    '9': 'vehicle_python.jpg',
    '10': 'vehicle_scala.jpg',
}

# Change the TrialID to the corresponding task name
total_results['TrialID'] = total_results['TrialID'].astype(str)
total_results['TrialID'] = total_results['TrialID'].map(num_to_trial)

# Drop all colums where the TrialID contains 'mupliple_choice'
total_results = total_results[~total_results['TrialID'].str.contains('mupliple_choice')]

# We load the original results from the file data/4/processed-data/fixationsAll.csv
participants_metadata = pd.read_csv('data/emip_dataset/emip_metadata.csv')
# We remove rows where experiment_language != 'Java'
participants_metadata = participants_metadata[participants_metadata.experiment_language == 'Java']

# We combine the two dataframes into one by combining the columns where the values of Participant and Task are the same
results_ogama = pd.merge(participants_metadata, total_results, how='inner', left_on=['id'], right_on=['Subject'])
# Rename the columns Fixation Count, Total Fixation Duration and Average Fixation Duration
results_ogama = results_ogama.rename(columns={
	'Total Fixation Count': 'Fixation Count', 
	'Total Fixation Duration': 'Total Fixation Duration [ms]', 
	'Average Fixation Duration': 'Average Fixation Duration [ms]',
	'TrialID': 'Task'
})

results_ogama

,id,age,gender,mother_tongue,english_level,visual_aid,makeup,experiment_language,expertise_experiment_language,time_experiment_language,...,stimulus_vehicle,mother_tongue_original,time_experiment_language_original,time_programming_original,other_languages_original,Task,Fixation Count,Total Fixation Duration [ms],Average Fixation Duration [ms],Subject
0,1,63,male,Czech,high,glasses,no,Java,high,30.0,...,vehicle_java.jpg,czech,30y,40+,CoffeeScript (high) JavaScript (high) Python (...,rectangle_java.jpg,49,9865,201.326531,1
1,1,63,male,Czech,high,glasses,no,Java,high,30.0,...,vehicle_java.jpg,czech,30y,40+,CoffeeScript (high) JavaScript (high) Python (...,vehicle_java.jpg,194,43131,222.324742,1
2,2,24,male,Slovak,medium,glasses,no,Java,medium,2.0,...,vehicle_java2.jpg,Slovak,2,5,"c++(low), php(medium), delphi(low)",rectangle_java2.jpg,151,35584,235.655629,2
3,2,24,male,Slovak,medium,glasses,no,Java,medium,2.0,...,vehicle_java2.jpg,Slovak,2,5,"c++(low), php(medium), delphi(low)",vehicle_java2.jpg,160,46040,287.750000,2
4,3,27,female,Hebrew,high,no,no,Java,none,0.0,...,vehicle_java2.jpg,Hebrew,0,0,c# (low),rectangle_java2.jpg,105,27686,263.676190,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,214,21,male,Slovak,high,no,no,Java,medium,1.0,...,vehicle_java2.jpg,Slovak,1,4,"C (medium) , JavaScript (medium)",vehicle_java2.jpg,405,99946,246.780247,214
409,215,22,male,Slovak,medium,no,no,Java,medium,1.0,...,vehicle_java2.jpg,slovak,1,2,C (medium) c# (medium) Java (medium),rectangle_java2.jpg,156,41962,268.987179,215
410,215,22,male,Slovak,medium,no,no,Java,medium,1.0,...,vehicle_java2.jpg,slovak,1,2,C (medium) c# (medium) Java (medium),vehicle_java2.jpg,230,63208,274.817391,215
411,216,22,female,Thai,high,glasses,no,Java,none,0.0,...,vehicle_java2.jpg,Thai,6 weeks,6 weeks,Low,rectangle_java2.jpg,148,25092,169.540541,216
412,216,22,female,Thai,high,glasses,no,Java,none,0.0,...,vehicle_java2.jpg,Thai,6 weeks,6 weeks,Low,vehicle_java2.jpg,307,56132,182.840391,216

In [40]:
import pandas as pd


results_ogama_saccades_base = pd.read_csv('data/emip_dataset/ogama_saccades.txt', delimiter='\t', low_memory=False, on_bad_lines='skip', comment='#')

results_ogama_saccades_base['SubjectName'] = results_ogama_saccades_base['SubjectName'].str[1:].astype(int)

results_ogama_saccades_base = results_ogama_saccades_base[['SubjectName', 'Trial Name', 'CountInTrial', 'StartTime', 'Duration', 'Distance', 'Validity']]

results_ogama_saccades_base['Duration'] = results_ogama_saccades_base['Duration'].astype(str)
results_ogama_saccades_base['Duration'] = results_ogama_saccades_base['Duration'].str.replace(',', '.').astype(float)
results_ogama_saccades_base['Distance'] = results_ogama_saccades_base['Distance'].astype(str)
results_ogama_saccades_base['Distance'] = results_ogama_saccades_base['Distance'].str.replace(',', '.').astype(float)


grouped = results_ogama_saccades_base.groupby(['SubjectName', 'Trial Name'])

results_ogama_saccades = grouped.agg({
    'Distance': 'mean',
    'Duration': 'mean',
    'CountInTrial': 'sum'
}).reset_index()

results_ogama_saccades.rename(columns={
    'Distance': 'Average Saccade Distance [px]',
    'Duration': 'Average Saccade Duration [ms]',
    'CountInTrial': 'TotalCountInTrial',
	'Trial Name': 'Task'
}, inplace=True)

# Drop all colums where the TrialID contains 'mupliple_choice'
results_ogama_saccades = results_ogama_saccades[~results_ogama_saccades['Task'].str.contains('mupliple_choice')]


# We combine the two dataframes into one by combining the columns where the values of Participant are the same
results_ogama_saccades = pd.merge(participants_metadata, results_ogama_saccades, how='inner', left_on=['id'], right_on=['SubjectName'])

results_ogama_saccades

,id,age,gender,mother_tongue,english_level,visual_aid,makeup,experiment_language,expertise_experiment_language,time_experiment_language,...,stimulus_vehicle,mother_tongue_original,time_experiment_language_original,time_programming_original,other_languages_original,SubjectName,Task,Average Saccade Distance [px],Average Saccade Duration [ms],TotalCountInTrial
0,1,63,male,Czech,high,glasses,no,Java,high,30.0,...,vehicle_java.jpg,czech,30y,40+,CoffeeScript (high) JavaScript (high) Python (...,1,rectangle_java.jpg,138.137303,402.354167,1176
1,1,63,male,Czech,high,glasses,no,Java,high,30.0,...,vehicle_java.jpg,czech,30y,40+,CoffeeScript (high) JavaScript (high) Python (...,1,vehicle_java.jpg,116.809112,171.880829,18721
2,2,24,male,Slovak,medium,glasses,no,Java,medium,2.0,...,vehicle_java2.jpg,Slovak,2,5,"c++(low), php(medium), delphi(low)",2,rectangle_java2.jpg,89.623321,61.713333,11325
3,2,24,male,Slovak,medium,glasses,no,Java,medium,2.0,...,vehicle_java2.jpg,Slovak,2,5,"c++(low), php(medium), delphi(low)",2,vehicle_java2.jpg,91.482446,49.811321,12720
4,3,27,female,Hebrew,high,no,no,Java,none,0.0,...,vehicle_java2.jpg,Hebrew,0,0,c# (low),3,rectangle_java2.jpg,91.891677,30.913462,5460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,214,21,male,Slovak,high,no,no,Java,medium,1.0,...,vehicle_java2.jpg,Slovak,1,4,"C (medium) , JavaScript (medium)",214,vehicle_java2.jpg,106.649906,17.126238,81810
408,215,22,male,Slovak,medium,no,no,Java,medium,1.0,...,vehicle_java2.jpg,slovak,1,2,C (medium) c# (medium) Java (medium),215,rectangle_java2.jpg,107.206963,21.593548,12090
409,215,22,male,Slovak,medium,no,no,Java,medium,1.0,...,vehicle_java2.jpg,slovak,1,2,C (medium) c# (medium) Java (medium),215,vehicle_java2.jpg,138.203372,19.615721,26335
410,216,22,female,Thai,high,glasses,no,Java,none,0.0,...,vehicle_java2.jpg,Thai,6 weeks,6 weeks,Low,216,rectangle_java2.jpg,105.042397,57.394558,10878
411,216,22,female,Thai,high,glasses,no,Java,none,0.0,...,vehicle_java2.jpg,Thai,6 weeks,6 weeks,Low,216,vehicle_java2.jpg,95.565078,58.830065,46971

In [79]:
from scipy.stats import wilcoxon
from scipy.stats import mannwhitneyu
from scipy.stats import spearmanr

def adapt_results(results):
	# Map the data of expertise_experiment_language and expertise_programming to the following values: none = 0, low = 1, medium = 2, high = 3
	results['expertise_experiment_language'] = results['expertise_experiment_language'].map({'none': 0, 'low': 1, 'medium': 2, 'high': 3, 0: 0, 1: 1, 2: 2, 3: 3})
	results['expertise_programming'] = results['expertise_programming'].map({'none': 0, 'low': 1, 'medium': 2, 'high': 3, 0: 0, 1: 1, 2: 2, 3: 3})

	results.loc[results['time_programming'] == '40.0+', 'time_programming'] = 40.0
	results['time_programming'] = results['time_programming'].astype(float)

	return results


def show_results_tasks(results, results_saccades):
	
	results = adapt_results(results)
	results_saccades = adapt_results(results_saccades)
	
	results_mean_per_subject = results.groupby(['id']).mean(numeric_only=True)
	results_saccades_mean_per_subject = results_saccades.groupby(['id']).mean(numeric_only=True)

	# Vehicle Task performance

	results_vehicle = results[results['stimulus_vehicle'] == results['Task']]
	# Group the results by the id of the participant and calculate the mean of the Fixation Count and Total Fixation Duration
	results_vehicle_mean_per_subject = results_vehicle.groupby(['id']).mean(numeric_only=True)[["correct_vehicle", "Fixation Count", "Total Fixation Duration [ms]"]]

	spearman_vehicle_count = spearmanr(results_vehicle_mean_per_subject['Fixation Count'], results_vehicle_mean_per_subject['correct_vehicle'])

	spearman_vehicle_dur = spearmanr(results_vehicle_mean_per_subject['Total Fixation Duration [ms]'], results_vehicle_mean_per_subject['correct_vehicle'])

	results_saccades_vehicle = results_saccades[results_saccades['stimulus_vehicle'] == results_saccades['Task']]
	# Group the results by the id of the participant and calculate the mean of the Fixation Count and Total Fixation Duration
	results_saccades_vehicle_mean_per_subject = results_saccades_vehicle.groupby(['id']).mean(numeric_only=True)[["correct_vehicle", "Average Saccade Distance [px]", "Average Saccade Duration [ms]"]]

	spearman_saccades_vehicle_dist = spearmanr(results_saccades_vehicle_mean_per_subject['Average Saccade Distance [px]'], results_saccades_vehicle_mean_per_subject['correct_vehicle'])

	spearman_saccades_vehicle_dur = spearmanr(results_saccades_vehicle_mean_per_subject['Average Saccade Duration [ms]'], results_saccades_vehicle_mean_per_subject['correct_vehicle'])



	# Rectangle Task performance

	results_rectangle = results[results['stimulus_rectangle'] == results['Task']]
	# Group the results by the id of the participant and calculate the mean of the Fixation Count and Total Fixation Duration
	results_rectangle_mean_per_subject = results_rectangle.groupby(['id']).mean(numeric_only=True)[["correct_rectangle", "Fixation Count", "Total Fixation Duration [ms]"]]

	spearman_rectangle_count = spearmanr(results_rectangle_mean_per_subject['Fixation Count'], results_rectangle_mean_per_subject['correct_rectangle'])

	spearman_rectangle_dur = spearmanr(results_rectangle_mean_per_subject['Total Fixation Duration [ms]'], results_rectangle_mean_per_subject['correct_rectangle'])

	results_saccades_rectangle = results_saccades[results_saccades['stimulus_rectangle'] == results_saccades['Task']]
	# Group the results by the id of the participant and calculate the mean of the Fixation Count and Total Fixation Duration
	results_saccades_rectangle_mean_per_subject = results_saccades_rectangle.groupby(['id']).mean(numeric_only=True)[["correct_rectangle", "Average Saccade Distance [px]", "Average Saccade Duration [ms]"]]

	spearman_saccades_rectangle_dist = spearmanr(results_saccades_rectangle_mean_per_subject['Average Saccade Distance [px]'], results_saccades_rectangle_mean_per_subject['correct_rectangle'])

	spearman_saccades_rectangle_dur = spearmanr(results_saccades_rectangle_mean_per_subject['Average Saccade Duration [ms]'], results_saccades_rectangle_mean_per_subject['correct_rectangle'])




	# Self Eval Experiment language

	results_self_eval_exp = results_mean_per_subject[['expertise_experiment_language', 'Fixation Count', 'Total Fixation Duration [ms]']]
	spearman_self_eval_exp_count = spearmanr(results_self_eval_exp['Fixation Count'], results_self_eval_exp['expertise_experiment_language'])

	spearman_self_eval_exp_dur = spearmanr(results_self_eval_exp['Total Fixation Duration [ms]'], results_self_eval_exp['expertise_experiment_language'])

	results_saccades_self_eval_exp = results_saccades_mean_per_subject[['expertise_experiment_language', 'Average Saccade Distance [px]', 'Average Saccade Duration [ms]']]

	spearman_saccades_self_eval_exp_dist = spearmanr(results_saccades_self_eval_exp['Average Saccade Distance [px]'], results_self_eval_exp['expertise_experiment_language'])






	# Self Eval Programming language

	results_self_eval_prog = results_mean_per_subject[['expertise_programming', 'Fixation Count', 'Total Fixation Duration [ms]']]
	spearman_self_eval_prog_count = spearmanr(results_self_eval_prog['Fixation Count'], results_self_eval_prog['expertise_programming'])
	spearman_self_eval_prog_dur = spearmanr(results_self_eval_prog['Total Fixation Duration [ms]'], results_self_eval_prog['expertise_programming'])

	results_saccades_self_eval_prog = results_saccades_mean_per_subject[['expertise_programming', 'Average Saccade Distance [px]', 'Average Saccade Duration [ms]']]
	spearman_saccades_self_eval_prog_dist = spearmanr(results_saccades_self_eval_prog['Average Saccade Distance [px]'], results_self_eval_prog['expertise_programming'])
	spearman_saccades_self_eval_prog_dur = spearmanr(results_saccades_self_eval_prog['Average Saccade Duration [ms]'], results_self_eval_prog['expertise_programming'])



	# Time Experiment language

	results_time_exp = results_mean_per_subject[['time_experiment_language', 'Fixation Count', 'Total Fixation Duration [ms]']]
	spearman_time_exp_count = spearmanr(results_time_exp['Fixation Count'], results_time_exp['time_experiment_language'])
	spearman_time_exp_dur = spearmanr(results_time_exp['Total Fixation Duration [ms]'], results_time_exp['time_experiment_language'])

	results_saccades_time_exp = results_saccades_mean_per_subject[['time_experiment_language', 'Average Saccade Distance [px]', 'Average Saccade Duration [ms]']]
	spearman_saccades_time_exp_dist = spearmanr(results_saccades_time_exp['Average Saccade Distance [px]'], results_time_exp['time_experiment_language'])
	spearman_saccades_time_exp_dur = spearmanr(results_saccades_time_exp['Average Saccade Duration [ms]'], results_time_exp['time_experiment_language'])

	# Time Programming language

	results_time_prog = results.groupby(['id']).mean(numeric_only=True)[['time_programming', 'Fixation Count', 'Total Fixation Duration [ms]']]
	spearman_time_prog_count = spearmanr(results_time_prog['Fixation Count'], results_time_prog['time_programming'])
	spearman_time_prog_dur = spearmanr(results_time_prog['Total Fixation Duration [ms]'], results_time_prog['time_programming'])

	results_saccades_time_prog = results_saccades_mean_per_subject[['time_programming', 'Average Saccade Distance [px]', 'Average Saccade Duration [ms]']]
	spearman_saccades_time_prog_dist = spearmanr(results_saccades_time_prog['Average Saccade Distance [px]'], results_time_prog['time_programming'])
	spearman_saccades_time_prog_dur = spearmanr(results_saccades_time_prog['Average Saccade Duration [ms]'], results_time_prog['time_programming'])


	# We create a table to show the results

	data = [
		[
			'Vehicle Task', 
			'%.4f' % spearman_vehicle_count.correlation,
			'%.4f' % spearman_vehicle_dur.correlation,
			'%.4f' % spearman_saccades_vehicle_dist.correlation,
			'%.4f' % spearman_saccades_vehicle_dur.correlation
		],
		[
			'Rectangle Task', 
			'%.4f' % spearman_rectangle_count.correlation,
			'%.4f' % spearman_rectangle_dur.correlation,
			'%.4f' % spearman_saccades_rectangle_dist.correlation,
			'%.4f' % spearman_saccades_rectangle_dur.correlation
		],
		[
			'Self Eval Experiment Language', 
			'%.4f' % spearman_self_eval_exp_count.correlation,
			'%.4f' % spearman_self_eval_exp_dur.correlation,
			'%.4f' % spearman_saccades_self_eval_exp_dist.correlation,
			'%.4f' % spearman_saccades_self_eval_exp_dist.correlation
		],
		[
			'Self Eval Programming Language', 
			'%.4f' % spearman_self_eval_prog_count.correlation,
			'%.4f' % spearman_self_eval_prog_dur.correlation,
			'%.4f' % spearman_saccades_self_eval_prog_dist.correlation,
			'%.4f' % spearman_saccades_self_eval_prog_dur.correlation
		],
		[
			'Time Experiment Language', 
			'%.4f' % spearman_time_exp_count.correlation,
			'%.4f' % spearman_time_exp_dur.correlation,
			'%.4f' % spearman_saccades_time_exp_dist.correlation,
			'%.4f' % spearman_saccades_time_exp_dur.correlation
		],
		[
			'Time Programming Language', 
			'%.4f' % spearman_time_prog_count.correlation,
			'%.4f' % spearman_time_prog_dur.correlation,
			'%.4f' % spearman_saccades_time_prog_dist.correlation,
			'%.4f' % spearman_saccades_time_prog_dur.correlation
		]
	]


	data_df = pd.DataFrame(data)
	data_df.columns = ['', 'Number of Fixations', 'Sum of Fixation Duration', 'Saccade Length', 'Saccade Duration']
	return data_df

In [92]:
from scipy.stats import wilcoxon
from scipy.stats import mannwhitneyu
from scipy.stats import spearmanr
import numpy

def adapt_results(results):
	# Change the type of the column time_programming to float
	results.loc[results['time_programming'] == '40.0+', 'time_programming'] = 40.0
	results['time_programming'] = results['time_programming'].astype(float)
	# We group the data by time_programming with either between 0.5 and 4 and 4+ and dispose of those with less than 0.5
	results = results[results['time_programming'] >= 0.5]

	# Remove NaN values
	results = results.dropna(subset=['time_programming'])

	# Add a new column time_programming_grouped that groups the time_programming into two groups: 0 = 0.5-4 and 1 = 4+
	results['time_programming_grouped'] = pd.cut(results['time_programming'], [0.5, 4, 40], labels=['0', '1'])
	results = results.dropna(subset=['time_programming_grouped'])
	results['time_programming_grouped'] = results['time_programming_grouped'].astype(int)
	return results



def show_results_expertise(results, results_saccades):
	results = adapt_results(results)
	results_saccades = adapt_results(results_saccades)

	# Number of fixations
	results_fixations_count_novices = results[results['time_programming_grouped'] == 0].groupby(['id'])['Fixation Count'].sum()
	results_mean_fixations_count_novices = results_fixations_count_novices.mean()
	results_std_fixations_count_novices = results_fixations_count_novices.std()

	results_fixations_count_experts = results[results['time_programming_grouped'] == 1].groupby(['id'])['Fixation Count'].sum()
	results_mean_fixations_count_experts = results_fixations_count_experts.mean()
	results_std_fixations_count_experts = results_fixations_count_experts.std()

	
	
	# Total fixation duration
	results_fixations_dur_novices = results[results['time_programming_grouped'] == 0].groupby(['id'])['Total Fixation Duration [ms]'].sum()
	results_mean_fixations_dur_novices = results_fixations_dur_novices.mean()
	results_std_fixations_dur_novices = results_fixations_dur_novices.std()

	results_fixations_dur_experts = results[results['time_programming_grouped'] == 1].groupby(['id'])['Total Fixation Duration [ms]'].sum()
	results_mean_fixations_dur_experts = results_fixations_dur_experts.mean()
	results_std_fixations_dur_experts = results_fixations_dur_experts.std()



	# Saccade length
	results_saccades_dist_novices = results_saccades[results_saccades['time_programming_grouped'] == 0].groupby(['id'])['Average Saccade Distance [px]'].sum()
	results_mean_saccades_dist_novices = results_saccades_dist_novices.mean()
	results_std_saccades_dist_novices = results_saccades_dist_novices.std()

	results_saccades_dist_experts = results_saccades[results_saccades['time_programming_grouped'] == 1].groupby(['id'])['Average Saccade Distance [px]'].sum()
	results_mean_saccades_dist_experts = results_saccades_dist_experts.mean()
	results_std_saccades_dist_experts = results_saccades_dist_experts.std()


	# Saccade duration
	results_saccades_dur_novices = results_saccades[results_saccades['time_programming_grouped'] == 0].groupby(['id'])['Average Saccade Duration [ms]'].sum()
	results_mean_saccades_dur_novices = results_saccades_dur_novices.mean()
	results_std_saccades_dur_novices = results_saccades_dur_novices.std()

	results_saccades_dur_experts = results_saccades[results_saccades['time_programming_grouped'] == 1].groupby(['id'])['Average Saccade Duration [ms]'].sum()
	results_mean_saccades_dur_experts = results_saccades_dur_experts.mean()
	results_std_saccades_dur_experts = results_saccades_dur_experts.std()





	# We create a table to show the results

	data = [
		[
			'Number of Fixations', 
			'Experts',
			'%.2f' % results_mean_fixations_count_experts,
			'%.2f' % results_std_fixations_count_experts
		],
		[
			'Number of Fixations', 
			'Novices',
			'%.2f' % results_mean_fixations_count_novices,
			'%.2f' % results_std_fixations_count_novices
		],
		[
			'Total Fixation Duration [ms]', 
			'Experts',
			'%.2f' % results_mean_fixations_dur_experts,
			'%.2f' % results_std_fixations_dur_experts
		],
		[
			'Total Fixation Duration [ms]', 
			'Novices',
			'%.2f' % results_mean_fixations_dur_novices,
			'%.2f' % results_std_fixations_dur_novices
		],
		[
			'Saccade Length', 
			'Experts',
			'%.2f' % results_mean_saccades_dist_experts,
			'%.2f' % results_std_saccades_dist_experts
		],
		[
			'Saccade Length', 
			'Novices',
			'%.2f' % results_mean_saccades_dist_novices,
			'%.2f' % results_std_saccades_dist_novices
		],
		[
			'Saccade Duration', 
			'Experts',
			'%.2f' % results_mean_saccades_dur_experts,
			'%.2f' % results_std_saccades_dur_experts
		],
		[
			'Saccade Duration', 
			'Novices',
			'%.2f' % results_mean_saccades_dur_novices,
			'%.2f' % results_std_saccades_dur_novices
		]

	]

	data_df = pd.DataFrame(data)
	data_df.columns = ['Eye Movement Measure', 'Level of expertise', 'Average of actual data', 'SD']
	return data_df

In [27]:
from scipy.stats import wilcoxon
from scipy.stats import mannwhitneyu
from scipy.stats import spearmanr
import numpy

def adapt_results(results):
	# Change the type of the column time_programming to float
	results.loc[results['time_programming'] == '40.0+', 'time_programming'] = 40.0
	results['time_programming'] = results['time_programming'].astype(float)
	# We group the data by time_programming with either between 0.5 and 4 and 4+ and dispose of those with less than 0.5
	results = results[results['time_programming'] >= 0.5]

	# Remove NaN values
	results = results.dropna(subset=['time_programming'])

	# Add a new column time_programming_grouped that groups the time_programming into two groups: 0 = 0.5-4 and 1 = 4+
	results['time_programming_grouped'] = pd.cut(results['time_programming'], [0.5, 4, 40], labels=['0', '1'])
	results = results.dropna(subset=['time_programming_grouped'])
	results['time_programming_grouped'] = results['time_programming_grouped'].astype(int)
	return results

from numpy import var, mean, sqrt
from pandas import Series

def cohend(d1: Series, d2: Series) -> float:

    # calculate the size of samples
    n1, n2 = len(d1), len(d2)

    # calculate the variance of the samples
    s1, s2 = var(d1, ddof=1), var(d2, ddof=1)

    # calculate the pooled standard deviation
    s = sqrt(((n1 - 1) * s1 + (n2 - 1) * s2) / (n1 + n2 - 2))

    # calculate the means of the samples
    u1, u2 = mean(d1), mean(d2)

    # return the effect size
    return (u1 - u2) / s

def mannwhitney_z(U, nx, ny):
	return (U - (nx * ny / 2)) / sqrt(nx * ny * (nx + ny + 1) / 12)


def get_results(x, y):
	nx = len(x)
	ny = len(y)
	U1, p = mannwhitneyu(x, y)
	U2 = nx * ny - U1
	U = min(U1, U2)
	z = mannwhitney_z(U, nx, ny)
	cohend_value = cohend(x, y)
	return U, p, z, cohend_value


def show_results_expertise_significance(results, results_saccades):
	results = adapt_results(results)
	results_saccades = adapt_results(results_saccades)


	mannwhitneyu_fixations_count = get_results(results[results['time_programming_grouped'] == 0]['Fixation Count'], results[results['time_programming_grouped'] == 1]['Fixation Count'])

	mannwhitneyu_fixations_dur = get_results(results[results['time_programming_grouped'] == 0]['Total Fixation Duration [ms]'], results[results['time_programming_grouped'] == 1]['Total Fixation Duration [ms]'])

	mannwhitneyu_saccades_dist = get_results(results_saccades[results_saccades['time_programming_grouped'] == 0]['Average Saccade Distance [px]'], results_saccades[results_saccades['time_programming_grouped'] == 1]['Average Saccade Distance [px]'])

	mannwhitneyu_saccades_dur = get_results(results_saccades[results_saccades['time_programming_grouped'] == 0]['Average Saccade Duration [ms]'], results_saccades[results_saccades['time_programming_grouped'] == 1]['Average Saccade Duration [ms]'])

	# We create a table to show the results
	data = [
		[
			'Number of Fixations', 
			'%.4f' % mannwhitneyu_fixations_count[0],
			'%.4f' % mannwhitneyu_fixations_count[1],
			'%.4f' % mannwhitneyu_fixations_count[2],
			'%.4f' % mannwhitneyu_fixations_count[3]
		],
		[
			'Total Fixation Duration [ms]', 
			'%.4f' % mannwhitneyu_fixations_dur[0],
			'%.4f' % mannwhitneyu_fixations_dur[1],
			'%.4f' % mannwhitneyu_fixations_dur[2],
			'%.4f' % mannwhitneyu_fixations_dur[3]
		],
		[
			'Saccade Length', 
			'%.4f' % mannwhitneyu_saccades_dist[0],
			'%.4f' % mannwhitneyu_saccades_dist[1],
			'%.4f' % mannwhitneyu_saccades_dist[2],
			'%.4f' % mannwhitneyu_saccades_dist[3]
		],
		[
			'Saccade Duration', 
			'%.4f' % mannwhitneyu_saccades_dur[0],
			'%.4f' % mannwhitneyu_saccades_dur[1],
			'%.4f' % mannwhitneyu_saccades_dur[2],
			'%.4f' % mannwhitneyu_saccades_dur[3]
		]
	]

	data_df = pd.DataFrame(data)
	data_df.columns = ['Eye Movement Feature', 'U', 'p', 'Z', 'Cohen\'s d']
	return data_df

In [35]:
show_results_tasks(results_pygaze, results_pygaze_saccades)

,,Number of Fixations,Sum of Fixation Duration,Saccade Length,Saccade Duration
0,Vehicle Task,-0.0122,-0.0077,0.0096,0.0114
1,Rectangle Task,0.0978,0.1546,-0.0155,-0.0100
2,Self Eval Experiment Language,0.1151,0.1177,0.0385,0.0385
3,Self Eval Programming Language,0.0556,0.0630,0.0188,0.0186
4,Time Experiment Language,0.0489,0.0647,-0.0330,-0.0259
5,Time Programming Language,-0.0251,0.0218,-0.1413,-0.1111

In [34]:
show_results_tasks(results_ogama, results_ogama_saccades)

,,Number of Fixations,Sum of Fixation Duration,Saccade Length,Saccade Duration
0,Vehicle Task,-0.0016,-0.0158,0.0129,0.0388
1,Rectangle Task,0.0949,0.1378,0.0691,-0.0278
2,Self Eval Experiment Language,0.0918,0.1124,0.1139,0.1139
3,Self Eval Programming Language,0.0540,0.0760,-0.0221,-0.0005
4,Time Experiment Language,0.0317,0.0578,0.0869,-0.0003
5,Time Programming Language,-0.0239,0.0137,-0.0609,-0.0692

![Results Study EMIP](images/results_study_emip.png)

In [54]:
show_results_expertise(results_pygaze, results_pygaze_saccades)

,Eye Movement Measure,Level of expertise,Average of actual data,SD
0,Number of Fixations,Experts,463.15,238.25
1,Number of Fixations,Novices,532.65,238.31
2,Total Fixation Duration [ms],Experts,82436.41,46433.59
3,Total Fixation Duration [ms],Novices,88930.49,41845.98
4,Saccade Length,Experts,234.49,105.34
5,Saccade Length,Novices,262.03,94.71
6,Saccade Duration,Experts,2921.30,6136.59
7,Saccade Duration,Novices,3196.81,5092.05

In [49]:
show_results_expertise(results_ogama, results_ogama_saccades)

,Eye Movement Measure,Level of expertise,Average of actual data,SD
0,Number of Fixations,Experts,343.20,172.36
1,Number of Fixations,Novices,409.69,176.89
2,Total Fixation Duration [ms],Experts,95178.89,49056.95
3,Total Fixation Duration [ms],Novices,107707.32,44258.42
4,Saccade Length,Experts,225.38,49.33
5,Saccade Length,Novices,231.39,40.81
6,Saccade Duration,Experts,135.84,352.29
7,Saccade Duration,Novices,256.42,644.82

![Results Study EMIP 2](images/results_study_emip_2.png)

In [47]:
show_results_expertise_significance(results_pygaze, results_pygaze_saccades)

           Eye Movement Feature           U       p        Z Cohen's D
0           Number of Fixations  14182.5000  0.0042  -2.8616    0.2486
1  Total Fixation Duration [ms]  15278.0000  0.0719  -1.8002    0.1267
2                Saccade Length  13680.0000  0.0008  -3.3484    0.2439
3              Saccade Duration  14199.0000  0.0044  -2.8456    0.0404

In [48]:
show_results_expertise_significance(results_ogama, results_ogama_saccades)

           Eye Movement Feature           U       p        Z Cohen's D
0           Number of Fixations  13401.0000  0.0003  -3.6187    0.3193
1  Total Fixation Duration [ms]  14038.0000  0.0027  -3.0016    0.2266
2                Saccade Length  15191.0000  0.0596  -1.8845    0.1125
3              Saccade Duration  15585.5000  0.1332  -1.5022    0.1855

![Results Study EMIP 3](images/results_study_emip_3.png)

Comparison between differently chosen parameters

In [58]:
# We load the original results from the file data/4/processed-data/fixationsAll.csv

import pandas as pd

# We load the original results from the file data/4/processed-data/fixationsAll.csv
participants_metadata = pd.read_csv('data/emip_dataset/emip_metadata.csv')
# We remove rows where experiment_language != 'Java'
participants_metadata = participants_metadata[participants_metadata.experiment_language == 'Java']

def load_results(name):

	# We load the PyGazeAnalyzer results from the file results/pygaze_fixations_4.csv
	res = pd.read_csv(f'results/{name}.csv')

	# Drop all colums where the task contains 'mupliple_choice'
	res = res[~res['Task'].str.contains('mupliple_choice')]



	# We combine the two dataframes into one by combining the columns where the values of Participant are the same
	res = pd.merge(participants_metadata, res, how='inner', left_on=['id'], right_on=['Participant'])

	return res

pygaze_fixations_emip_dataset_lower_maxdist1 = load_results('pygaze_fixations_emip_dataset_lower_maxdist1')
pygaze_fixations_emip_dataset_lower_maxdist2 = load_results('pygaze_fixations_emip_dataset_lower_maxdist2')

pygaze_fixations_emip_dataset_higher_maxdist1 = load_results('pygaze_fixations_emip_dataset_higher_maxdist1')
pygaze_fixations_emip_dataset_higher_maxdist2 = load_results('pygaze_fixations_emip_dataset_higher_maxdist2')

pygaze_fixations_emip_dataset_lower_mindur1 = load_results('pygaze_fixations_emip_dataset_lower_mindur1')
pygaze_fixations_emip_dataset_lower_mindur2 = load_results('pygaze_fixations_emip_dataset_lower_mindur2')

pygaze_fixations_emip_dataset_higher_mindur1 = load_results('pygaze_fixations_emip_dataset_higher_mindur1')
pygaze_fixations_emip_dataset_higher_mindur2 = load_results('pygaze_fixations_emip_dataset_higher_mindur2')

In [77]:
def show_results_tasks_fixations(fixations):
	res = show_results_tasks(fixations, results_pygaze_saccades)
	# Remove the columns 'Saccade Length' and 'Saccade Duration'
	res = res.drop(columns=['Saccade Length', 'Saccade Duration'])
	return res

In [98]:
def show_results_expertise_fixations(fixations):
	res = show_results_expertise(fixations, results_pygaze_saccades)
	# Remove the rows 4-7
	res = res.drop([4, 5, 6, 7])
	return res

In [100]:
def show_results_expertise_significance_fixations(fixations):
	res = show_results_expertise_significance(fixations, results_pygaze_saccades)
	# Remove the rows 2 and 3
	res = res.drop([2, 3])
	return res

In [80]:
show_results_tasks_fixations(pygaze_fixations_emip_dataset_lower_maxdist1)

                                  Number of Fixations Sum of Fixation Duration
0                    Vehicle Task             -0.0070                   0.0031
1                  Rectangle Task              0.1365                   0.1641
2   Self Eval Experiment Language              0.1144                   0.1086
3  Self Eval Programming Language              0.0571                   0.0579
4        Time Experiment Language              0.0620                   0.0632
5       Time Programming Language              0.0117                   0.0419

In [83]:
show_results_tasks_fixations(pygaze_fixations_emip_dataset_lower_maxdist2)

                                  Number of Fixations Sum of Fixation Duration
0                    Vehicle Task              0.0075                   0.0125
1                  Rectangle Task              0.1447                   0.1687
2   Self Eval Experiment Language              0.0995                   0.0938
3  Self Eval Programming Language              0.0604                   0.0664
4        Time Experiment Language              0.0500                   0.0583
5       Time Programming Language              0.0398                   0.0759

In [84]:
show_results_tasks_fixations(pygaze_fixations_emip_dataset_higher_maxdist1)

                                  Number of Fixations Sum of Fixation Duration
0                    Vehicle Task             -0.0094                  -0.0124
1                  Rectangle Task              0.0752                   0.1417
2   Self Eval Experiment Language              0.1144                   0.1195
3  Self Eval Programming Language              0.0494                   0.0636
4        Time Experiment Language              0.0435                   0.0670
5       Time Programming Language             -0.0406                   0.0139

In [85]:
show_results_tasks_fixations(pygaze_fixations_emip_dataset_higher_maxdist2)

                                  Number of Fixations Sum of Fixation Duration
0                    Vehicle Task             -0.0154                  -0.0199
1                  Rectangle Task              0.0676                   0.1330
2   Self Eval Experiment Language              0.1242                   0.1215
3  Self Eval Programming Language              0.0424                   0.0567
4        Time Experiment Language              0.0417                   0.0622
5       Time Programming Language             -0.0616                  -0.0024

In [95]:
show_results_expertise_fixations(pygaze_fixations_emip_dataset_lower_maxdist1)

,Eye Movement Measure,Level of expertise,Average of actual data,SD
0,Number of Fixations,Experts,511.93,294.09
1,Number of Fixations,Novices,563.55,273.25
2,Total Fixation Duration [ms],Experts,67396.24,41398.48
3,Total Fixation Duration [ms],Novices,70276.74,36565.81

In [96]:
show_results_expertise_fixations(pygaze_fixations_emip_dataset_lower_maxdist2)

,Eye Movement Measure,Level of expertise,Average of actual data,SD
0,Number of Fixations,Experts,475.15,298.51
1,Number of Fixations,Novices,498.10,270.84
2,Total Fixation Duration [ms],Experts,50305.62,34347.24
3,Total Fixation Duration [ms],Novices,50162.88,29808.01

In [101]:
show_results_expertise_significance_fixations(pygaze_fixations_emip_dataset_lower_maxdist1)

           Eye Movement Feature           U       p        Z Cohen's D
0           Number of Fixations  15091.0000  0.0476  -1.9813    0.1579
1  Total Fixation Duration [ms]  15972.0000  0.2596  -1.1278    0.0643

In [102]:
show_results_expertise_significance_fixations(pygaze_fixations_emip_dataset_lower_maxdist2)

           Eye Movement Feature           U       p        Z Cohen's D
0           Number of Fixations  15982.5000  0.2639  -1.1176    0.0704
1  Total Fixation Duration [ms]  16793.0000  0.7400  -0.3323   -0.0039

In [103]:
show_results_expertise_significance_fixations(pygaze_fixations_emip_dataset_higher_maxdist1)

           Eye Movement Feature           U       p        Z Cohen's D
0           Number of Fixations  13620.0000  0.0007  -3.4066    0.3043
1  Total Fixation Duration [ms]  14951.0000  0.0343  -2.1170    0.1570

In [104]:
show_results_expertise_significance_fixations(pygaze_fixations_emip_dataset_higher_maxdist2)

           Eye Movement Feature           U       p        Z Cohen's D
0           Number of Fixations  13289.5000  0.0002  -3.7268    0.3475
1  Total Fixation Duration [ms]  14634.0000  0.0154  -2.4241    0.1850